/* Style de base du corps de la page */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le débordement horizontal */
}

/* Titre de l'application avec fond orange */
.title-section {
    background-color: #FF5B5B; /* Fond orange des boutons */
    padding: 20px;
}

.app-title {
    font-size: 3rem;
    color: #FFF; /* Texte blanc */
    text-align: center;
    margin: 0;
}

/* Conteneur principal */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: flex-start; /* Aligne les blocs en haut */
    justify-content: center;
    gap: 60px; /* Espace entre les colonnes */
}

/* Mise en page en deux colonnes : graphe à gauche, texte à droite */
.flex-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Aligne le contenu en haut */
}

/* Colonne gauche : sans fond blanc maintenant */
.graph-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligne les éléments en haut */
    align-items: left;
    padding-top: 100px;
    padding-right: 20px;
}

/* Question avec fond noir et texte blanc */
.question {
    font-size: 1.8rem;
    color: #FFF;
    background-color: #000;
    text-align: left;
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Boutons pour choisir le nombre de personnes */
.button-grid {
    display: grid;
    grid-template-columns: repeat(14, 2fr); /* Définit 4 colonnes de largeur égale */
    gap: 10px; /* Espace entre les boutons */
    margin-bottom: 20px;
    width: 100%; /* Assure que la grille prend toute la largeur de la colonne */
}

.button-grid button {
    padding: 15px;
    font-size: 1.2rem;
    background-color: #FF5B5B;
    color: #FFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Chaque bouton occupe toute la largeur de sa cellule de grille */
}


/* État actif du bouton sélectionné */
.button-grid button.active {
    background-color: #000; /* Fond noir pour le bouton actif */
    color: #FFF; /* Texte blanc pour le bouton actif */
}

.button-grid button:hover {
    background-color: #E66D40; /* Changement de couleur au hover */
}

/* Style du graphe */
#graph {
    width: 400px;
    height: 400px;
    background-color: transparent; /* Plus de fond blanc */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Message dynamique avec fond coloré et texte blanc */
.dynamic-message {
    padding: 20px;
    border-radius: 8px;
    color: #FFF; /* Texte blanc */
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #42915B; /* Ajout de la couleur verte pour le texte dynamique */
}

/* Statut dynamique pour la co-construction */
.status {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Légende du nombre de connexions */
.connection-number {
    font-size: 3rem;
    font-weight: bold;
    color: #FF5B5B; /* En rouge corail */
    display: inline; /* Pour l'affichage sur la même ligne */
}

.connection-legend {
    font-size: 1.2rem;
    color: #000;
    font-weight: bold;
    display: inline; /* Pour être à côté du nombre */
    margin-left: 10px;
}

/* Laïus spécifique */
.specific-message {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold; /* Mettre la phrase du bas en gras */
}

/* Colonne droite : Texte explicatif */
.text-section {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Titre principal */
.text-section h2 {
    color: #FF5B5B;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Texte introductif */
.intro-text {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Style de l'image en bas de la section droite */
.bottom-image {
    width: 100%; /* L'image occupera toute la largeur du conteneur */
    max-width: 100%; /* Limite la taille maximale de l'image */
    margin-top: 0px;
    display: block;
    transform: scaleX(-1);
}
